[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"paho.mqtt" = "*"
pybind11 = "*"
wolfcrypt = "*"
pyopenssl = "*"
ipython = "*"
binarytree = "*"
openpyxl = "*"
gspread = "*"
seaborn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
sklearn = "*"
texttable = "*"
paramiko = "*"
maturin = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
